<div class = "user-profile">
{{user.username}}
<div class = "isMe"> Is this me: {{isMe}}</div>
<div ng-show="isMe">
	Send a Gossip Message
	<textarea type="text" ng-model="gossipMessage"></textarea><br>
	<button type="button" ng-click="sendGossipMessage()">Send</button>
</div>
</div>
<div class="user-messages">
	<b>Messages</b>
	<div ng-repeat="message in user.messages" class="border">
		<p>Text:{{message.Text}}</p>
		<p>Originator:{{message.Originator}}</p>
		<p>From {{user.username}}: {{message.isUser}}
		<p>ID:{{message.MessageID}}</p>
	</div>
</div>