.angular {
  height: 100px;
  width: 100px;
  background-image: url('../images/angular.jpg');
}
.clickable {
  cursor: pointer;
}
.header {
  width: 100%;
  height: 50px;
  background-color: #F5F5F5;
  color: black;
}
.header .brand {
  float: left;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-right: 1px solid black;
}
.container {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.user-profile {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
}
.main-page .login {
  background-color: #F5F5F5;
  padding: 25px;
}
.main-page .login .login-header {
  text-align: center;
  width: 100%;
  height: 50px;
  font-size: 20px;
}
.main-page .login .inputs > input {
  margin-bottom: 25px;
  width: 100%;
}
.main-page .registered-users {
  background-color: #F5F5F5;
  padding: 25px;
  float: right;
}
.main-page .registered-users .user-header {
  text-align: center;
  width: 100%;
  height: 50px;
  font-size: 20px;
}
.main-page .registered-users .user {
  border: 1px solid white;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 10px;
}
.main-page .registered-users .user .username {
  font-size: 24px;
}
